/* Styles for the CustomVersionSelector component */
.custom-version-selector {
    display: inline-block;
    font-size: 1em;
    color: inherit;
    font-family: "Ruberoid", sans-serif;
    font-weight: 700;
}

/* Styles for the select element inside the CustomVersionSelector component */
.custom-version-selector select {
    border: none;
    background: none;
    font-size: 1em;
    color: inherit;
    font-family: "Ruberoid", sans-serif;
    font-weight: 700;
    text-align-last: right; /* Right align text when viewport width is more than 996px */
    appearance: none;
    padding-right: 1.5em;
    background: url('data:image/svg+xml;utf8,<svg fill="black" viewBox="0 0 140 140" width="40" height="40" xmlns="http://www.w3.org/2000/svg"><path d="M35 55l35 35 35-35z"/></svg>') no-repeat;
    background-position: calc(100% - 10px) 50%, 0 0;
    background-size: 1em auto, 100%;
    width: auto;
}

[data-theme='dark'] .custom-version-selector select {
    background: url('data:image/svg+xml;utf8,<svg fill="white" viewBox="0 0 140 140" width="40" height="40" xmlns="http://www.w3.org/2000/svg"><path d="M35 55l35 35 35-35z"/></svg>') no-repeat;
    background-position: calc(100% - 10px) 50%, 0 0;
    background-size: 1em auto, 100%;
}

.custom-version-selector select:hover {
    padding-right: 1.5em;
    background: url('data:image/svg+xml;utf8,<svg fill="black" viewBox="0 0 140 140" width="40" height="40" xmlns="http://www.w3.org/2000/svg"><path d="M35 55l35 35 35-35z"/></svg>') no-repeat;
    background-position: calc(100% - 10px) 50%, 0 0;
    background-size: 1em auto, 100%;
    color: var(--ifm-link-color);
    transition: color var(--ifm-transition-fast) var(--ifm-transition-timing-default);
}

[data-theme='dark'] .custom-version-selector select:hover {
    background: url('data:image/svg+xml;utf8,<svg fill="white" viewBox="0 0 140 140" width="40" height="40" xmlns="http://www.w3.org/2000/svg"><path d="M35 55l35 35 35-35z"/></svg>') no-repeat;
    background-position: calc(100% - 10px) 50%, 0 0;
    background-size: 1em auto, 100%;
}

@media (max-width: 996px) {
    /* Left align text when viewport width is 996px or less */
    .custom-version-selector select {
        text-align-last: left;
    }
}

/* Styles for the CustomVersionSelector component on screens with a max-width of 996px */
@media (max-width: 996px) {
    .custom-version-selector {
        font-family: "Inter", sans-serif;
        font-weight: 500;
    }

    /* Styles for the select element inside the CustomVersionSelector component on screens with a max-width of 996px */
    .custom-version-selector select {
        font-family: "Inter", sans-serif;
        font-weight: 500;
    }
}

/* Styles for the CustomVersionSelector component when it's in the header */
.custom-version-selector-header {
    font-family: "Ruberoid", sans-serif;
    font-weight: 700;
}

/* Styles for the CustomVersionSelector component when it's in the menu */
.custom-version-selector-menu {
    font-family: "Inter", sans-serif;
    font-weight: 500;
}

/* Hide the CustomVersionSelector component in the header on screens with a max-width of 996px */
@media (max-width: 996px) {
    .custom-version-selector-header {
        display: none;
    }
}

[data-theme='light'] .custom-version-selector select {
    color: var(--ifm-menu-color);
}

@media (min-width: 997px) {
    [data-theme='light'] .custom-version-selector select {
        color: var(--ifm-navbar-link-color);
    }
}