.keplrButton {
  background-color: #1BB8FF;
  font-size: 18px;
  font-family: 'RuberoidBold';
  margin: 0px;
  line-height: 24px;
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 4px;
  border-radius: 10px;
  padding: 8px;
}

.keplrButton:hover {
  background-color:#19A5E6;
  transition: 0.1s;
}
