/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

@font-face {
  font-family: "RuberoidLight";
  src: url('/fonts/Ruberoid/Ruberoid-Light.otf') format('opentype');
}

@font-face {
  font-family: "RuberoidRegular";
  src: url('/fonts/Ruberoid/Ruberoid-Regular.otf') format('opentype');
}

@font-face {
  font-family: "RuberoidBold";
  src: url('/fonts/Ruberoid/Ruberoid-Bold.otf') format('opentype');
}

@font-face {
  font-family: "Inter";
  src: url('/fonts/Inter/Inter-Regular.ttf') format('truetype');
}


/* You can override the default Infima variables here. */
:root {
  --ifm-font-family-base: "RuberoidBold";
  --ifm-color-primary: #7B2BF9;
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 95%;
}

p, li {
  font-family: "Inter";
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #7B2BF9;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

[data-theme='dark'] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}

code {
  max-height: 700px;
  overflow-y: auto;
}

.youtube-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
}

.youtube-video {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.front-page-link {
  font-family: RuberoidRegular;;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(77, 3, 193);
  padding: 0px 23px;
  text-decoration: none;
  width: 300px;
  margin: 0px 8px;
  border-radius: 7px;
  transition: all .35s;
  border: 1px solid rgba(255, 255, 255, .1);
  box-shadow: rgba(77, 3, 193, 1) 0px 4px 12px;
  font-weight: 600;
  color: white;
  text-align: left;
  height: 115px;
}

.front-page-link:hover {
  border: 1px solid rgba(255, 255, 255, .3);
  box-shadow: rgba(77, 3, 193, .5) 0px 4px 12px;
  color: white;
  text-decoration: none;
}

.button-heading {
  font-size: 22px;
  font-family: 'RuberoidBold';
  margin: 0px;
  line-height: 24px;
  margin-bottom: 8px;
}

@media only screen and (max-width: 1000px) {
  .front-page-link {
    width: 100%;
    margin-bottom: 10px;
  }
}
