name: Lint & Link Check

permissions:
  contents: read

on:
  push:
    branches:
      - docs-glow-up
  pull_request:
    branches:
      - docs-glow-up
  schedule:
    # Run weekly on Monday at 9 AM UTC
    - cron: "0 9 * * 1"

jobs:
  eslint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.7

      - name: Setup Node
        uses: actions/setup-node@v4.0.3
        with:
          node-version: 20
          cache: yarn

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - name: Run lint
        run: yarn lint

  link-check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.7

      - name: Link Checker
        uses: lycheeverse/lychee-action@v2.0.0
        with:
          fail: true
          args: --verbose --exclude '^https?://localhost(:[0-9]+)?/?$' --exclude 'https://hibachi.xyz/' --exclude 'https://dl.acm.org/doi/abs/10.1145/98163.98167' --exclude 'https://lib.rs/crates/celestia-client' --exclude 'https://github.com/celestiaorg/celestia-app/blob/29906a468910184f221b42be0a15898722a2b08f/specs/src/parameters_v6.md?plain=1#L31' README.md app/**/*.mdx app/**/*.md
          token: ${{ secrets.GITHUB_TOKEN }}
