name: Lint & Link Check

permissions:
  contents: read

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  schedule:
    # Run weekly on Monday at 9 AM UTC
    - cron: "0 9 * * 1"

jobs:
  eslint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.7

      - name: Setup Node
        uses: actions/setup-node@v4.0.3
        with:
          node-version: 20
          cache: npm

      - name: Install dependencies
        run: npm install --no-package-lock --legacy-peer-deps

      - name: Run lint
        run: npm run lint

  link-check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.7

      - name: Setup Node
        uses: actions/setup-node@v4.0.3
        with:
          node-version: 20
          cache: npm

      - name: Install dependencies
        run: npm install --no-package-lock --legacy-peer-deps

      - name: Run Link Checker
        run: npm run check-links -- --all --concurrency=2 --skip="celestia.org,nexus.hyperlane.xyz,infura.io"
